.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
  }
  
  .popup-content {
    margin-top: 20px;
  }
  
  .close-btn {
    background-color: #029499;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
  }

  
  